.Relaja{
    color: darkgoldenrod;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: x-large;
    text-align: center;
}
.lorum {
    color: grey;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    text-align: center;
}
.body{
    background: linear-gradient(to right, grey,skyblue);
    background-repeat: no-repeat;
    background-attachment: fixed;
}