form{
    max-width: 500px;
    padding: 20px 0;
    margin: auto;
    margin-top: 50px;
    align-items: center;
    background: linear-gradient(rgb(58, 56, 56), rgb(182, 175, 175));
    border-radius: 14px;
    box-shadow: 0 0 20px ghostwhite;
    text-shadow: 0 0 10px ghostwhite;
}
html{
    background: linear-gradient(black, rgb(65, 62, 62));
    background-repeat: no-repeat;
    background-attachment: fixed;
}
div{
    padding: 10px;
}
h3{
    color: ghostwhite;
    text-align: center;
    padding-top: 20px;
}