body{
    text-align: center;
    background: lightgray;
}
form{
    background-color: coral;
    padding: 10px;
    margin: 10px;
    border-radius: 20px;
}
input{
    width: 12%;
    margin: 5px;
    border-radius: 4px;
    box-shadow: inset;
}