div{
    background: lightpink;
    padding: 3px;
    border-style: groove;
    border-width: 25%;
    border-color: aquamarine;
    border-radius: 20px;
    margin: auto;
    width: 25%;
    text-align: center;
    font-family: fantasy;
}
body{
    background-color: lightslategray;
}
input{
    border-radius: 100px;
    background-color: lightpink;
    color: lightgray;
}