img{
    border-radius: 100px;
    padding-top: 10px;
    display: flex;
}
a{
    margin-inline-end: 100px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
}
body{
    text-align: center;
    background: lightgray;
}
h1{
    font-family: 'Times New Roman', Times, serif;
    display: flex;
}